	{{for properties.objects}}
    {{if entry_id}}
    <div class="mgds_file">
	<div class="u_entry">
	  <a target="_blank" href="{{:entry_url}}">{{:entry_id.toUpperCase()}}</a> {{:data_types_bare}} Data
	  <img src="http://www.marine-geo.org/imgs/{{if is_released=='f'}}locked.png{{else}}unlocked.png{{/if}}"
	       title = "{{if is_released=='f'}}Restricted{{else}}Open{{/if}} Access"
	       />
     </div>
     {{if data_doi}}
     <div class="u_doi"><b>Data DOI:</b>{{:data_doi}}</div>
     {{/if}}
     {{if image_url}}
     <div class="img_box">
        <div class="segyfilename"><b>File: </b>{{:file_name}}</div>
        <div class="u_imgdiv">
            <a class="segylink" onclick="window.open('{{:image_url}}','','width=700,height=500');" target="_blank" >
                <img itemprop="image" class="segyimg" src="{{:image_url}}" alt="{{:details}}" title="{{:details}}">
            </a>
        </div>
        <div class="u_caption">{{:details}}</div>
	 </div>
     {{else}}
     <div>
        <b>File: </b>{{:file_name}}
     </div>
     <div class="u_caption">
        {{:details}}
     </div>
     {{/if}}
     {{if chief_scientist}}
     <div class="u_contrib"><b>Chief Scientist:</b> {{:chief_scientist}}</div>
     {{/if}}
	<div><b>Platform:</b> <i>{{:platform_id}} ({{:platform_type}})</i></div>
    {{if ~checkValue(events,'event_table','entry_event_line') || ~checkValue(events,'event_table','entry_event_line_seismic')}}
	<div class="u_linnum"><b>Line: </b>
        {{for events}}
            {{if event_table == 'entry_event_line' || event_table == 'entry_event_line_seismic'}}
            <span>
                <a href="http://www.marine-geo.org/tools/search/RelatedData.php?event_uid={{:event_uid}}" target="_blank">{{:event_name}}</a>
            </span>
            {{/if}}
        {{/for}}
    </div>
    {{/if}}
    {{if ~checkValue(events,'event_table','entry_event_station')}}
	<div class="u_linnum"><b>Station: </b>
        {{for events}}
            {{if event_table == 'entry_event_station'}}
            <span>
                <a href="http://www.marine-geo.org/tools/search/RelatedData.php?event_uid={{:event_uid}}" target="_blank">{{:event_name}}</a>
            </span>
            {{/if}}
        {{/for}}
    </div>
    {{/if}}
    {{if ~checkValue(files,'access','PUBLIC')}}
	<div class="u_files">
        <b>Download Files</b>
        <div style="margin-left:5px" class="filecontent" id="file_{{:data_uid}}">
            {{for files}}
            {{if access == 'PUBLIC'}}
            {{if data_uid}}
            <div>
                <a href="http://www.marine-geo.org/tools/search/download.php?data_uid={{:data_uid}}" target="_blank">{{:file_format}} {{:data_types}}</a>
            </div>
            {{/if}}
            {{if data_uids}}
            <div>
                <a href="http://www.marine-geo.org/tools/search/download.php?data_uids={{:data_uids}}" target="_blank">{{:file_format}} {{:data_types}}</a>
            </div>
            {{/if}}
            {{/if}}
            {{/for}}
        </div>
	  <a target="_blank" href="{{:data_set_url}}"> More Details &#8594;</a>
	</div>
    {{/if}}
      </div>
    {{/if}}
      {{/for}}
