      {{for properties.objects}}
      {{if cruise_id}}
	 <div class="utig_file">
	    <div class="u_entry">
		<a target="_blank" href="{{:cruise_url}}">{{:cruise_id.toUpperCase()}}</a> {{:object_data_type}} Data
		<img class="lockunlock"
		     src="http://www.marine-geo.org/imgs/{{if (access == 'limited' || access == 'restricted')}}locked.png{{else}}unlocked.png{{/if}}"
		     title="{{if (access=='limited')}}Limited{{else (access=='restricted')}}Restricted{{else}}Open{{/if}} Access"/>
	    </div>
	    {{if doi}}
	    <div class="u_doi"><b>Data DOI:</b>{{:doi}}</div>
	    {{/if}}
        {{if image_url}}
	    <div class="img_box">
		<div class="segyfilename">{{:segy_file_name}}</div>
		<div class="u_imgdiv">
		    <a class="segylink" onclick="window.open('{{:image_url}}','','width=700,height=500');" target="_blank" >
			<img itemprop="image" class="segyimg" src="{{:image_url}}" alt="{{:file_caption}}" title="{{:file_caption}}">
		    </a>
		    <a class="customize" href="http://www-udc.ig.utexas.edu/sdc/seisplot/index.htm?inUniqueID={{:object_id}}" target="_blank">Customize</a>
		</div>
		<div class="u_caption">{{:file_caption}}</div>
	    </div>
        {{else}}
	    <div>{{:segy_file_name}}</div>
	    <div class="u_caption">{{:file_caption}}</div>
        {{/if}}
	    <div class="u_contrib">Contributed by {{:contributor}}</div>
	    <div class="u_linnum"><b>Line Name: </b> {{:line_name}}</div>
        {{if access=='unrestricted'}}
	    <div class="u_files"><b>Download Files</b>
            <div style="margin-left:5px" class="filecontent" id="file_{{:object_id}}">
                
                {{for files}}
                <a class="utigdownloadlink" onClick="utigDownload('{{:url}}')" style="cursor:pointer;margin: 0px 2px;">{{:format}}</a>
                {{/for}}
                
            </div>
            <a target="_blank" href="{{:file_details_url}}"> More Details &#8594;</a>
        </div>
        {{else}}
        <div class="u_files">
            <a target="_blank" href="{{:file_details_url}}"> More Details &#8594;</a>
        </div>
        {{/if}}
	</div>
      {{/if}}
		{{/for}}
